<!-- Footer -->
<footer id="footer">
	<section>
		<a href="https://discord.com/invite/8UwSN7nCC7" class="button">Chris on discord</a>
	</section>
	<section>
		<h3>Social</h3>
		{% include "components/socials.njk" %}
	</section>
</footer>

{% include "components/scripts.njk" %}