<!-- Nav -->
<nav id="nav">
  <ul class="links">
  {% set navPages = collections.page | eleventyNavigation %}
  {%- for entry in navPages %}
    <li {% if entry.url == page.url %} class="active"{% endif %}>
      <a href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
  {% include "components/socials.njk" %}
</nav>
  