<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body class="is-preload">
        <!-- Wrapper -->
		<div id="wrapper" class="fade-in">
			<div id="intro">
				{{ layoutContent | safe }}
			</div>
			{% include "components/header.njk" %}
			{% include "components/nav.njk" %}
			<div id="main">
				<!-- Featured Post -->
				<article class="post featured">
					<header class="major">
						<h2><a href="#">Projects</a></h2>
						<p>Python, HTML/CSS, JavaScript, PHP. Static pages, Wordpress, Node projects. It's a litte bit of a lot of things</p>
					</header>
					<a href="#" class="image main"><img src="/static/images/pic01.jpg" alt="" /></a>
					<ul class="actions special">
						<li><a href="#" class="button large">Full Story</a></li>
					</ul>
				</article>

				<!-- Posts -->
				<section class="posts">
					<article>
						<header>
							<h2><a href="#">Sed magna<br />
							ipsum faucibus</a></h2>
						</header>
						<a href="#" class="image fit"><img src="/static/images/pic02.jpg" alt="" /></a>
						<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
						<ul class="actions special">
							<li><a href="#" class="button">Full Story</a></li>
						</ul>
					</article>
					<article>
						<header>
							<h2><a href="#">Primis eget<br />
							imperdiet lorem</a></h2>
						</header>
						<a href="#" class="image fit"><img src="/static/images/pic03.jpg" alt="" /></a>
						<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
						<ul class="actions special">
							<li><a href="#" class="button">Full Story</a></li>
						</ul>
					</article>
					<article>
						<header>
							<h2><a href="#">Ante mattis<br />
							interdum dolor</a></h2>
						</header>
						<a href="#" class="image fit"><img src="/static/images/pic04.jpg" alt="" /></a>
						<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
						<ul class="actions special">
							<li><a href="#" class="button">Full Story</a></li>
						</ul>
					</article>
					<article>
						<header>
							<h2><a href="#">Tempus sed<br />
							nulla imperdiet</a></h2>
						</header>
						<a href="#" class="image fit"><img src="/static/images/pic05.jpg" alt="" /></a>
						<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
						<ul class="actions special">
							<li><a href="#" class="button">Full Story</a></li>
						</ul>
					</article>
				</section>
			</div>
			{% include "components/footer.njk" %}
		</div>
	</body>
</html>