<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body class="is-preload">
        <!-- Wrapper -->
		<div id="wrapper" class="fade-in">
			<div id="intro">
				{{ layoutContent | safe }}
			</div>
			{% include "components/header.njk" %}
			{% include "components/nav.njk" %}
			<div id="main">
				<!-- Featured Post -->
				{% for project in collections.homeFeature %}
					{% include "components/featured-preview.njk" %}
				{% endfor %}
				
				<!-- Posts -->
				<section class="posts">
					{% for category in collections.category %}
						{% include "components/preview.njk" %}
					{% endfor %}
				</section>
			</div>
			{% include "components/footer.njk" %}
		</div>
	</body>
</html>